# =========================
# DISCORD OAUTH
# =========================
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:34001/api/auth/callback
SESSION_SECRET=change-me-to-random-string
DEV_DISCORD_IDS=

# =========================
# BACKEND API URL
# =========================
NEXT_PUBLIC_API_URL=http://localhost:34002
