# =========================
# DISCORD OAUTH
# =========================
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISC...n
# =========================
# BACKEND API URL
# =========================
NEXT_PUBLIC_API_URL=https://api.finder.zcus.dev
